<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.demo_flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    // https://stackoverflow.com/questions/59638309/image-not-showing-from-internet-using-image-network
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
